.containerEventos {
    display: grid;
    justify-content: center;
}

.eventosText {
    width: 800px;
}
.eventosText p{
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

.eventosImage img {
    width: 500px;
    border-radius: 22px;
    border: solid #000 5px;
}

.eventosImage {
    justify-content: center;
    display: flex;
}