@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.contentExt {
    display: flex;
    justify-content: center;
    height: 450px;
}

.text {
    width: 300px;
    height: 568px;
    margin-right: 50px;
}

p {
    font-size: 20px;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    text-align: justify;
}

.icons {
    display: flex;
}

.imageArea img {
    border-radius: 22px;
    border: solid #000 5px;
    width: 350px;
}

.social {
    display: flex;
    justify-content: space-between;
}