<link rel="stylesheet" href="/css/footer.css">
<div class='container'> 
    <div class='PinkBox'>
        <div class='upper'>
            <div class='title'>
                <img src="/images/caccoBlack.svg" alt="CACCO"/>
                <h1>Centro Acadêmico de Ciências da Computação</h1>
            </div>
            <div class='column'>
                <h4>Endereço</h4>
                <ul class='address-details'>
                    <li>Av. 24 nº 1515,</li>
                    <li>Bela Vista,</li>
                    <li>Rio Claro - SP,</li>
                    <li>IGCE, Unesp.</li>
                </ul>
            </div>
            <div class='column'>
                <h4>Telefone</h4>
                <ul class='phone-numbers'>
                    <li>(19) 3944-1551</li>
                </ul>
            </div>
            <div class='column'>
                <h4>Contato</h4>
                <ul>
                    <a href = "https://www.w3schools.com/" style="color: #000">email.com.br</a>
                    <br/>
                    <div class='icons'>   
                    <a href = "https://www.w3schools.com/" >
                        <BsInstagram size={30} color='#000'/>
                    </a>
                    </div>
                    <div class='icons'>
                    <a href = "https://www.w3schools.com/" >    
                        <BsFacebook size={30} color='#000'/>
                    </a>
                    </div>
                </ul>
            </div>

        </div>

        <div class='lower'>
            <div class="bottomCACCo">
                <h3>CACCo</h3>
                <h3>Unesp Rio Claro</h3>
                <h3>Desenvolvido por <a href="https://infojrunesp.com.br/" style="color: #000">InfoJr</a></h3>
            </div>
        </div>             
    </div>  
</div>